@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 53% 92%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 53% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 53% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 181 39% 45%;
    --primary-foreground: 180 100% 99%;
    --secondary: 180 25% 85%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 180 25% 85%;
    --muted-foreground: 225.9 5.3% 44.7%;
    --accent: 273 18% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 181 30% 75%;
    --input: 181 30% 88%;
    --ring: 181 39% 45%;
    --radius: 0.5rem;
    --chart-1: 181 39% 45%;
    --chart-2: 273 18% 54%;
    --chart-3: 181 30% 65%;
    --chart-4: 273 15% 74%;
    --chart-5: 181 25% 55%;
  }

  .dark {
    --background: 222 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 181 39% 55%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 273 18% 64%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 181 39% 55%;
    --chart-1: 181 39% 55%;
    --chart-2: 273 18% 64%;
    --chart-3: 181 30% 75%;
    --chart-4: 273 15% 84%;
    --chart-5: 181 25% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
